<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<script src="../src/TenpinBowlingScoreCalculator.js"></script>

<title>Ten-Pin Bowling Scoring</title>
</head>

<body>
<!-- Heading -->
	<h2 style="text-align:center;">Ten-Pin Bowling Scoring</h2>
	<h4 style="text-align:center;color:grey;">By Sonia</h4>
	
<!-- Scoring Rules -->
<ul style="margin-left: 15;">
  <li>A game of bowling consists of 10 frames with a set of 10 pins.</li>
  <li>In each frame, the bowler will have two chances.</li>
  <li>Strike: When all ten pins are knocked down with the first ball, a player is awarded ten pins, plus a bonus of whatever is scored with the next two balls.</li>
  <li>Spare: When no pins are left standing after the second ball of a frame, a player achieving a spare is awarded ten pins, plus a bonus of whatever is scored with the next ball.</li>
  <li>If the bowler gets a strike or spare in the 10th frame, a bonus roll is awarded</li>
</ul>

<!-- Input Box -->
<h4>Please input your scores (a comma-separated line, for example: 1,2,3,4,5,5).</h4>
<h5 style="color:grey;">Assumption: The input numbers will be between 0 and 10 and the sequence of numbers will always be valid but may be incomplete.</h5>

<form>
  <input type="text" id="scores">
  <input type=button onclick="calScore(document.getElementById('scores').value);" value="Submit">
</form>

</body>
</html>